<h2>Assets</h2>
     <a
      routerLink="/add-assets"
      class="btn btn-primary"
      *ngIf="authService.canManageData()">
      Add New Asset
    </a>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div class="table-card">
   <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Asset Name</th>
      <th>Asset Type</th>
      <th>Location</th>
      <th *ngIf="!authService.isViewer()">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assets">
      <td>{{ asset.asset_id }}</td>
      <td>{{ asset.asset_name }}</td>
      <td>{{ asset.asset_type }}</td>
      <td>{{ asset.location }}</td>
      <td>
        <button *ngIf="authService.isAdmin()" (click)="editAsset(asset)">Edit</button>
        <button *ngIf="authService.isAdmin()" (click)="deleteAsset(asset.asset_id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
  </div>

 